@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  /* iOS Calculator Palette */
  --ios-bg: #000000;
  --ios-display-text: #ffffff;

  /* Button Colors */
  --ios-btn-gray: #333333;
  --ios-btn-gray-active: #555555;

  --ios-btn-light: #a5a5a5;
  --ios-btn-light-active: #d9d9d9;

  --ios-btn-orange: #ff9f0a;
  --ios-btn-orange-active: #ffb84d;

  /* Ad Banner Control */
  --banner-height: 0px; /* JS側からAdManagerで動的に設定 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ios-bg: var(--ios-bg);
  --color-ios-display-text: var(--ios-display-text);

  --color-ios-btn-gray: var(--ios-btn-gray);
  --color-ios-btn-gray-active: var(--ios-btn-gray-active);

  --color-ios-btn-light: var(--ios-btn-light);
  --color-ios-btn-light-active: var(--ios-btn-light-active);

  --color-ios-btn-orange: var(--ios-btn-orange);
  --color-ios-btn-orange-active: var(--ios-btn-orange-active);
}

body {
  background: var(--background);
  color: var(--foreground);
  user-select: none;
  /* アプリっぽく選択不可に */
  -webkit-touch-callout: none;
}